*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    background-image: url(img/background-main.jpg);
    background-color: #000000;
    background-position: top center;
    background-repeat: no-repeat;
}

.item-page {
    color: #000000;

    background-color: #f3f0ed;
    background-image: url(img/background-fon-repeat.jpg);
    background-position: top center;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.container {
    width: 960px;

    padding: 0 10px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font: inherit;

    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}

.button:active,
.button:focus,
.button:hover {
    background-color: #663d15;
}


/* Шапка */

.main-header {
    width: 100%;

    color: #ffffff;
    background-color: #000000;

    margin-bottom: 60px;
}

.item-page .main-header {
    margin-bottom: 50px;
}

.item-page .main-logo {
    width: 111px;
    height: 24px;

    margin: 0;
}

.main-navigation {
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    line-height: 20px;
}

.nav-list {
    width: 620px;
}

.item-page .nav-list {
    width: 720px;
}

.nav-login {
    width: 140px;
}

.nav-list,
.nav-login {
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav-list a,
.nav-login a {
    color: #ffffff;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-login a:hover,
.nav-login a:focus {
    background-color: #242424;
}

/* Преимущества */

.main-logo {
    width: 371px;
    height: 155px;

    margin: 0 auto;
    margin-bottom: 75px;
}

.features {
    margin-bottom: 80px;
}

.features-list {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.features-item {
    width: 300px;

    text-align: center;
}

.features-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.content-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 35px;
    padding: 50px 80px;

    color: #000000;
    background-color: #f8f5f2;
    background-image: url(img/background-fon-repeat.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.content-container h2 {
    font-size: 30px;
    line-height: 42px;
}

.news,
.contants{
    width: 380px;
}

.gallery,
.sign-up {
    width: 300px;
}

.news-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery-content {
    border: 7px solid #ffffff;
    background-color: #cccccc;
}

.sign-up-item input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.sign-up-item input:focus {
    border: 2px solid #663d15;
}

/* Товар */

.page-title {
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;

    list-style: none;
}

.breadcrumbs-item {
    display: inline-block;

    margin-right: 45px;
}

.breadcrumbs-item a {
    color: #000000;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
    color: #663d15;
}

.breadcrumbs-current {
    color: #aba9a7;
}

.product-container {
    display: flex;
    justify-content: space-between;

    margin-top: 55px;
}

.product-content {
    width: 460px;
}

.product-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.product-image-item-big {
    width: 460px;
    height: 500px;

    margin-bottom: 20px;
}

.product-image-item {
    width: 140px;
    height: 150px;
}

.product-image li {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-info-container {
    width: 400px;

    padding: 20px 10px;
}

.product-article {
    margin-left: 175px;

    color: #aba9a7;
}

.product-info-text {
    margin-top: 30px;
    margin-bottom: 40px;
}

.catalog-item-price-container {
    margin-bottom: 65px;
}

.item-price {
    color: #000000;

    background-color: #e5e5e5;

    text-align: center;
    vertical-align: middle;
}

.product-equip h2 {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 30px;
}

.product-equip-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

/* Страница Цены */

.services-title {
    font-size: 48px;
    line-height: 48px;
}

.services-container h2 {
    font-size: 24px;
    line-height: 30px;
}

.what-we-use-list {
    list-style: none;
}

.services-price-table {
    border-collapse: collapse;
}

.services-price-table td {
    border: 2px solid #000000;
}

.services-price-table .cell-text {
    text-align: left;
}

.services-price-table .cell-price {
    text-align: center;
}

/* Магазин */

.filter-form fieldset {
    border: none;
}

.filter-form legend {
    font-size: 24px;
    line-height: 30px;
}

.filter-list input:hover + label,
.filter-list input:focus + label {
    color: #663d15;
}

.filter-list input:disabled + label {
    color: #000000;

    opacity: 0.5;
}

.filter-form .filter-list {
    list-style: none;
    line-height: 18px;
}

.catalog-list {
    list-style: none;
}

.catalog-item {
    color: #000000;

    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item-category {
    color: #000000;

    font-size: 14px;
    line-height: 18px;
    text-transform: none;
}

.catalog-item-title {
    color: #000000;

    font-size: 14px;
    line-height: 18px;
}

.catalog-item h3 {
    color: #000000;
}

.pagination-list {
    list-style: none;
}

.catalog-item-price-container .button {
  line-height: 20px;
  color: #ffffff;
}

.btn-current {
    color: #000000;

    background-color: #ffffff;

    text-align: center;
    vertical-align: middle;
}

/* Подвал */

.main-footer {
    margin-top: 65px;
    padding: 60px 0;

    color: #ffffff;
    background-color: #212121;
    background-image: url(img/background-footer-repeat.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.item-page .main-footer {
    margin-top: 50px;
}

.main-footer .container {
    display: flex;
}

.footer-copyright {
    width: 320px;

    margin-right: 80px;
}

.copyright-info {
    margin: 0;
}

.copyright-info a {
    color: #ffffff;
    text-decoration: underline;
}

.copyright-info a:hover,
.copyright-info a:focus {
    text-decoration: none;
}

.footer-social {
    width: 145px;

    text-align: center;
}

.footer-autors {
    width: 150px;

    margin-left: auto;

    text-align: center;
}

.footer-autors .button:hover,
.footer-autors .button:focus {
    color: #000000;

    background-color: #ffffff;
}

/* Модальные окна */

.modal {
    margin: 0 auto;

    color: #000000;
    background-color: #f8f3f0;
    background-image: url(img/background-fon-repeat.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.modal-login {
    width: 460px;
}

.modal-map {
    width: 780px;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form-item input[type="text"],
.login-form-item input[type="password"] {
    font: inherit;

    color: #000000;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid #000000;

}

.login-form-item input:focus {
    border-color: #663b15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663b15;
}

.login-form-item a {
    color: #000000;
    text-decoration: underline;
}

.login-form-item a:hover,
.login-form-item a:focus {
    text-decoration: none;
}






